.items {
    padding-left: 50px;
}

.items .additembutton {
    background-color: red;
    text-align: center;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.items h1 {
    text-align: left;
}